In [1]:
import pandas as pd
import  numpy as np
from matplotlib import pyplot as plt
sales_data = pd.read_excel('sampledatafoodsales.xlsx',sheet_name='FoodSales')
sales_data

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84
...,...,...,...,...,...,...,...,...
239,2021-12-18,East,Boston,Cookies,Arrowroot,34,2.18,74.12
240,2021-12-21,East,Boston,Cookies,Chocolate Chip,245,1.87,458.15
241,2021-12-24,East,Boston,Crackers,Whole Wheat,30,3.49,104.70
242,2021-12-27,West,Los Angeles,Bars,Bran,30,1.87,56.10
243,2021-12-30,West,Los Angeles,Cookies,Oatmeal Raisin,44,2.84,124.96

In [15]:
sales_data_indexed = sales_data.set_index('Category')
sales_data_indexed

,OrderDate,Region,City,Product,Quantity,UnitPrice,TotalPrice
Category,,,,,,,
Bars,2020-01-01,East,Boston,Carrot,33,1.77,58.41
Crackers,2020-01-04,East,Boston,Whole Wheat,87,3.49,303.63
Cookies,2020-01-07,West,Los Angeles,Chocolate Chip,58,1.87,108.46
Cookies,2020-01-10,East,New York,Chocolate Chip,82,1.87,153.34
Cookies,2020-01-13,East,Boston,Arrowroot,38,2.18,82.84
...,...,...,...,...,...,...,...
Cookies,2021-12-18,East,Boston,Arrowroot,34,2.18,74.12
Cookies,2021-12-21,East,Boston,Chocolate Chip,245,1.87,458.15
Crackers,2021-12-24,East,Boston,Whole Wheat,30,3.49,104.70
Bars,2021-12-27,West,Los Angeles,Bran,30,1.87,56.10
Cookies,2021-12-30,West,Los Angeles,Oatmeal Raisin,44,2.84,124.96

In [18]:
sales_data_indexed.sort_index()
sort_by_cat = sales_data_indexed.sort_index(level='Category')
sort_by_cat

,OrderDate,Region,City,Product,Quantity,UnitPrice,TotalPrice
Category,,,,,,,
Bars,2020-01-01,East,Boston,Carrot,33,1.77,58.41
Bars,2020-10-07,West,Los Angeles,Carrot,40,1.77,70.80
Bars,2021-06-03,East,Boston,Bran,27,1.87,50.49
Bars,2020-10-01,East,Boston,Carrot,77,1.77,136.29
Bars,2020-09-25,West,San Diego,Bran,33,1.87,61.71
...,...,...,...,...,...,...,...
Snacks,2020-04-19,East,Boston,Potato Chips,134,1.68,225.12
Snacks,2020-04-13,West,San Diego,Potato Chips,28,1.68,47.04
Snacks,2020-04-04,West,Los Angeles,Potato Chips,68,1.68,114.24
Snacks,2021-01-08,East,Boston,Pretzels,29,3.15,91.35
Snacks,2021-02-22,East,Boston,Pretzels,31,3.15,97.65

In [19]:
sort_by_cat_slice  = sort_by_cat.loc['Bars']
sort_by_cat_slice

,OrderDate,Region,City,Product,Quantity,UnitPrice,TotalPrice
Category,,,,,,,
Bars,2020-01-01,East,Boston,Carrot,33,1.77,58.41
Bars,2020-10-07,West,Los Angeles,Carrot,40,1.77,70.80
Bars,2021-06-03,East,Boston,Bran,27,1.87,50.49
Bars,2020-10-01,East,Boston,Carrot,77,1.77,136.29
Bars,2020-09-25,West,San Diego,Bran,33,1.87,61.71
...,...,...,...,...,...,...,...
Bars,2021-08-26,West,San Diego,Carrot,41,1.77,72.57
Bars,2021-09-07,West,Los Angeles,Bran,50,1.87,93.50
Bars,2020-05-04,East,Boston,Bran,105,1.87,196.35
Bars,2021-09-19,West,San Diego,Carrot,49,1.77,86.73
Bars,2020-06-09,West,San Diego,Carrot,42,1.77,74.34

In [4]:
sales_data_unindexed = sales_data_indexed.reset_index(drop=False)
sales_data_unindexed

,Category,OrderDate,Region,City,Product,Quantity,UnitPrice,TotalPrice
0,Bars,2020-01-01,East,Boston,Carrot,33,1.77,58.41
1,Crackers,2020-01-04,East,Boston,Whole Wheat,87,3.49,303.63
2,Cookies,2020-01-07,West,Los Angeles,Chocolate Chip,58,1.87,108.46
3,Cookies,2020-01-10,East,New York,Chocolate Chip,82,1.87,153.34
4,Cookies,2020-01-13,East,Boston,Arrowroot,38,2.18,82.84
...,...,...,...,...,...,...,...,...
239,Cookies,2021-12-18,East,Boston,Arrowroot,34,2.18,74.12
240,Cookies,2021-12-21,East,Boston,Chocolate Chip,245,1.87,458.15
241,Crackers,2021-12-24,East,Boston,Whole Wheat,30,3.49,104.70
242,Bars,2021-12-27,West,Los Angeles,Bran,30,1.87,56.10
243,Cookies,2021-12-30,West,Los Angeles,Oatmeal Raisin,44,2.84,124.96

In [5]:
sales_data_unindexed = sales_data_indexed.reset_index(drop=True)
sales_data_unindexed

,OrderDate,Region,City,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Arrowroot,38,2.18,82.84
...,...,...,...,...,...,...,...
239,2021-12-18,East,Boston,Arrowroot,34,2.18,74.12
240,2021-12-21,East,Boston,Chocolate Chip,245,1.87,458.15
241,2021-12-24,East,Boston,Whole Wheat,30,3.49,104.70
242,2021-12-27,West,Los Angeles,Bran,30,1.87,56.10
243,2021-12-30,West,Los Angeles,Oatmeal Raisin,44,2.84,124.96

In [11]:
# Index sales data by  city and Category
sales_data_ind = sales_data.set_index(['City','Category'])

# List of tuples: Boston, Crackers & Los Angeles, Cookies
rows_to_keep = [['Boston','Crackers'],['Los Angeles','Cookies']]

# Subset for rows to keep
print(sales_data_ind.loc[rows_to_keep])

                      OrderDate Region         Product  Quantity  UnitPrice  \
City        Category
Boston      Crackers 2020-01-04   East     Whole Wheat        87       3.49
            Crackers 2020-01-19   East     Whole Wheat       149       3.49
            Crackers 2020-02-06   East     Whole Wheat        28       3.49
            Crackers 2020-03-11   East     Whole Wheat        40       3.49
            Crackers 2020-05-31   East     Whole Wheat        33       3.49
            Crackers 2020-06-18   East     Whole Wheat        38       3.49
            Crackers 2020-07-12   East     Whole Wheat        42       3.49
            Crackers 2020-08-23   East     Whole Wheat        21       3.49
            Crackers 2020-10-04   East     Whole Wheat        38       3.49
            Crackers 2020-10-31   East     Whole Wheat        46       3.49
            Crackers 2020-12-15   East     Whole Wheat        41       3.49
            Crackers 2021-06-09   East     Whole Wheat        26       3.49
            Crackers 2021-06-30   East     Whole Wheat        34       3.49
            Crackers 2021-07-24   East     Whole Wheat        23       3.49
            Crackers 2021-10-22   East     Whole Wheat        30       3.49
            Crackers 2021-11-30   East     Whole Wheat        20       3.49
            Crackers 2021-12-24   East     Whole Wheat        30       3.49
Los Angeles Cookies  2020-01-07   West  Chocolate Chip        58       1.87
            Cookies  2020-02-27   West  Oatmeal Raisin        33       2.84
            Cookies  2020-03-14   West  Chocolate Chip        86       1.87
            Cookies  2020-06-03   West  Oatmeal Raisin       288       2.84
            Cookies  2020-07-15   West  Chocolate Chip        75       1.87
            Cookies  2020-08-05   West  Chocolate Chip       107       1.87
            Cookies  2020-08-26   West  Chocolate Chip        80       1.87
            Cookies  2021-01-14   West  Oatmeal Raisin        80       2.84
            Cookies  2021-02-04   West       Arrowroot        58       2.18
            Cookies  2021-02-07   West  Chocolate Chip        34       1.87
            Cookies  2021-02-25   West       Arrowroot        30       2.18
            Cookies  2021-02-28   West  Chocolate Chip       232       1.87
            Cookies  2021-05-01   West       Arrowroot        77       2.18
            Cookies  2021-05-04   West  Chocolate Chip        58       1.87
            Cookies  2021-05-22   West  Chocolate Chip        43       1.87
            Cookies  2021-07-06   West  Oatmeal Raisin        60       2.84
            Cookies  2021-07-27   West       Arrowroot        20       2.18
            Cookies  2021-07-30   West  Chocolate Chip        64       1.87
            Cookies  2021-09-10   West  Oatmeal Raisin        79       2.84
            Cookies  2021-10-04   West  Oatmeal Raisin        47       2.84
            Cookies  2021-12-06   West  Oatmeal Raisin       100       2.84
            Cookies  2021-12-30   West  Oatmeal Raisin        44       2.84

                      TotalPrice
City        Category
Boston      Crackers      303.63
            Crackers      520.01
            Crackers       97.72
            Crackers      139.60
            Crackers      115.17
            Crackers      132.62
            Crackers      146.58
            Crackers       73.29
            Crackers      132.62
            Crackers      160.54
            Crackers      143.09
            Crackers       90.74
            Crackers      118.66
            Crackers       80.27
            Crackers      104.70
            Crackers       69.80
            Crackers      104.70
Los Angeles Cookies       108.46
            Cookies        93.72
            Cookies       160.82
            Cookies       817.92
            Cookies       140.25
            Cookies       200.09
            Cookies       149.60
            Cookies       227.20
            Cookies       126.44
            Cookies        63.58
            Cookies        65.40
            Cookies       433.84
            Cookies       167.86
            Cookies       108.46
            Cookies        80.41
            Cookies       170.40
            Cookies        43.60
            Cookies       119.68
            Cookies       224.36
            Cookies       133.48
            Cookies       284.00
            Cookies       124.96

In [ ]:
# Calculate median plane ticket prices by Airline
airline_prices = planes.groupby("Airline")["Price"].median()

print(airline_prices)

# Convert to a dictionary
prices_dict = airline_prices.to_dict()

# Map the dictionary to the missing values
planes["Price"] = planes["Price"].fillna(planes["Airline"].map(prices_dict))

# Check for missing values
print(planes.isna().sum())