In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

salaries = pd.read_csv('ds_salaries_clean.csv')
salaries

In [ ]:
salaries['Designation'].value_counts()

In [ ]:
sns.histplot(data=salaries,x='Salary_USD')
plt.show()

In [ ]:
salaries.dtypes

In [ ]:
salaries['Salary_USD'].min()

In [ ]:
salaries.isna().sum()

In [ ]:
salaries.select_dtypes('object').head()

In [ ]:
#check count of job titles
print(salaries['Designation'].value_counts())

In [51]:
#check unique titles using the nunique
print(salaries['Designation'].nunique())
import seaborn
#or use 
unique_Designation = salaries['Designation'].unique()
num_Designation = len(unique_Designation)
print(num_Designation)

50
50

In [ ]:
#how many contains Scientist
scientists =salaries['Designation'].str.contains('Scientist')

print(salaries[scientists])

In [ ]:
#to filter multiple roles, Machine Learning or AI
#how many contains Scientist
scientists =salaries['Designation'].str.contains('Machine Learning|AI')

print(salaries[scientists])

In [ ]:
#Analysing categorical data
job_categories =['Data Science','Data Analytics','Data Engineering','Machine Learning','Managerial','Consultant']

data_science = 'Data Science|NLP|Data Scientist'
data_analyst =  'Analyst|Analytics'
data_engineer = 'Data Engineer|ETL|Architect|Infrastructure'
ml_engineer =  'Machine Learning|AI|Big Data|ML'
manager =      'Manager|Head|Diactor|Lead|Principal|Staff'
constultant =  'Constultant|Freelance'
conditions = [
    (salaries['Designation'].str.contains(data_science)),
    (salaries['Designation'].str.contains(data_analyst)),
    (salaries['Designation'].str.contains(data_engineer)),
    (salaries['Designation'].str.contains(ml_engineer)),
    (salaries['Designation'].str.contains(manager)),
    (salaries['Designation'].str.contains(constultant))
]
salaries['Job_category'] = np.select(conditions,job_categories,default='Other')

print(salaries[['Designation','Job_category']].head())

sns.countplot(data=salaries,x='Job_category')
plt.show()

In [ ]:
# Filter the DataFrame for object columns
non_numeric = salaries.select_dtypes("object")

# Loop through columns
for col in non_numeric.columns:
  
  # Print the number of unique values
  print(f"Number of unique values in {col} column: ", non_numeric[col].nunique())

In [ ]:
#Numerical Data
#planes["airline_price_st_dev"] = planes.groupby("Airline")["Price"].transform(lambda x: x.std())

#print(planes[["Airline", "airline_price_st_dev"]].value_counts())

In [ ]:
print(salaries['Job_category'].value_counts(normalize =True))
print(salaries['Job_category'].value_counts())

In [ ]:
print(pd.crosstab(salaries["Company_Size"], salaries["Experience"]))

In [ ]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries['Job_category'], salaries["Company_Size"]))

In [ ]:
# Cross-tabulate Job_Category and Company_Size
print(pd.crosstab(salaries["Job_category"], salaries["Company_Size"],
            values=salaries["Salary_USD"], aggfunc="mean"))

In [ ]:
# Get the month of the response
salaries["month"] = salaries["date_of_response"].dt.month

# Extract the weekday of the response
salaries["weekday"] = salaries["date_of_response"].dt.weekday

# Create a heatmap
sns.heatmap(salaries.corr(), annot=True)
plt.show()

In [ ]:
# Find the 25th percentile
twenty_fifth = salaries["Salary_USD"].quantile(0.25)

# Save the median
salaries_median = salaries["Salary_USD"].median()

# Gather the 75th percentile
seventy_fifth = salaries["Salary_USD"].quantile(0.75)
print(twenty_fifth, salaries_median, seventy_fifth)

In [ ]:
# Create salary labels
salary_labels = ["entry", "mid", "senior", "exec"]

# Create the salary ranges list
salary_ranges = [0, twenty_fifth, salaries_median, seventy_fifth, salaries["Salary_USD"].max()]

# Create salary_level
salaries["salary_level"] = pd.cut(salaries["Salary_USD"],
                                  bins=salary_ranges,
                                  labels=salary_labels)

# Plot the count of salary levels at companies of different sizes
sns.countplot(data=salaries, x="Company_Size", hue="salary_level")
plt.show()

In [ ]:
# Filter for employees in the US or GB
usa_and_gb = salaries[salaries["Employee_Location"].isin(["US", "GB"])]

# Create a barplot of salaries by location
sns.barplot(data=usa_and_gb, x="Employee_Location", y="Salary_USD")
plt.show()

In [ ]:
salaries.info()

In [ ]:
# Create a bar plot of salary versus company size, factoring in employment status
#Produce a barplot comparing "Salary_USD" by "Company_Size", factoring "Employment_Status".
sns.barplot(data=salaries, x="Company_Size", y="Salary_USD", hue="Employment_Status")
plt.show()